{% extends "chc_admin_template.html" %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>

<script src = "../static/js-user-graphs.js"></script>
<script src = "../static/js-admin-messages.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline@0.1.3/src/chartjs-plugin-trendline.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
{% endblock %}


{%block title %}
<title> {{username}}'s section </title>
{%endblock %}

{%block content%}

<!-- For loop for unique iteration of page data depending on user, along with further JavaScript implementation depending on user name & volunteer ID -->
{% for row in data %}

<script>

</script>

<h1 id = "result_header">Data for volunteer: #{{row[5]}} - {{row[2]}}</h1>

Shows all user generic data unqi
<table>
   <thead>
      <th>Database ID</th>
      <th>Email Address</th>
      <th>Name</th>
      <th>Password</th>
      <th>Website Access Level</th>
   </thead>

      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td id = "volunteer_name">{{row[2]}}</td>
        <td>********</td>
        <td>{{row[4]}}</td>
      </tr>

</table>

<!-- Expresses all data submitted by user in graphical format. -->
<section class="flex_container">
  <div class = 'fullsize_box'>
    <h2 id = "graph_header_1" class = "data_header"> #{{row[5]}}'s Experiences</h2>
    <canvas id="line_graph" class = "data_1" width="800" height="450"></canvas>
  </div>

  <div class = 'fullsize_box'>
    <h2 id = "graph_header_2"  class = "data_header"> #{{row[5]}}'s Interactions</h2>
    <canvas id="bar_chart" class="data_2"width="800" height="450"></canvas>
  </div>

</section>

<div class = 'fullsize_box'>
  <h2 id = "user_messages"  class = "data_header"> #{{row[5]}}'s messages</h2>
</div>


<!-- Table for storing specific user's messages made on the website -->
<table id = "message_list">

   <thead>
      <th>Message ID</th>
      <th>Date</th>
      <th>Query</th>
      <th></th>

   </thead>
      {% for message in message_data %}
      <tr>
        <td>{{message[0]}}</td>
        <td>{{message[4]}}</td>
        <td>{{message[3]}}</td>
        <td class = "delete_button_td">
        <!-- <input type = 'hidden' name = "user_id" value = '{{row[0]}}'> -->
        <button onclick = "return deleteMessage({{ row[0] }})">&nbsp; Delete Message &nbsp; </button>
        </td>

      </tr>
    {% endfor %}
  </table>
  <br>
  <br>
  <br>

<div class = "pdf_button_wrapper">
  <h3 class = pdf_download_descriptor>
  Click button below to create a PDF copy of this user.
  </h3>
  <button id="downloadPDF" class="pdf_button" data-toggle="button" aria-pressed="false" autocomplete="off">Download PDF</button>
</div>

<div id = "graph_1"></div>
<div id = "graph_2"></div>
<div id = "messages"></div>
<script src = "js/query.min.js"></script>
<script src = "js/jsPDF/dist/jspdf.min.js"></script>

<script>
  //Pulls all data from server template render, converts into JavaScript variable for usage - marked as safe for further iteration.
  var linegraph_data = {{ lineg_data|safe }}

  //Pulls jinja for loop data into JavaScript
  var user_data = {{row[5]|safe}}

  console.log(message_data)


</script>


{% endfor %}

<!-- Marks table data as safe for JavaScript iteration -->
<script> var table_data = {{ data|safe}}</script>





{% endblock %}
