{% extends "chc_admin_template.html" %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-main.css') }}" />

{%block title %}<title>Admin Contact Form to website manager</title>{%endblock %}

{%block content%}
<br>
<!-- Movement of code to minimise scrolling -->
<div class="form_design">
<form method="post" name="myForm">
    <!--action and method from WH3Schools https://www.w3schools.com/js/js_validation.asp accessed 24/11/2019-->
    <textarea id="query" rows="5" cols="50" name="query" placeholder="Type your query here..." required></textarea>
    <!-- Field must be filled in, cannot be blank -->
    <br>
<button class = "contact_button" name="form_submission_user" type="submit"> Submit </button>

</form>
<span id='txt'>{{msg}}</span>
<!-- To store the results of the form PHP needs to be used, haven't been taught yet -->
<!-- JavaScript can also be used https://www.encodedna.com/javascript/how-to-save-form-data-in-a-text-file-using-javascript.htm needs to be researched-->
<br>
<p> We aim to respond to queries as soon as possible however during peak times responses may take longer to recieve.
    <br><br> Thank You </p>
</div>
{%endblock %}
