{% extends "chc_user_template.html" %}

{% block title %}<title>Cancer Patient Pathways - Home</title> {% endblock %}

{% block content  %}

<main>
  <center>
    <h1>The Cancer Patient Survey</h1>
    <div class="flex-container-home">
      <div style="flex-grow: 4">
        <h2>About us</h2>
          <div class="homepage_body">
          <p> If you've experienced the NHS Cancer service we'd like your feedback to improve the quality of the service that we
          provide to patients</p>
          <p>You'll be provided with unique login details to allow you to provide feedback on the service</p>
          <p> response is taken into consideration, you may be contacted individually to allow us to follow up on the matter at hand.</p>
          <p>For any questions please use the contact form, response will depend on the query.</p>
          <br>

          <p>Thank you.</p>
          </div>

      </div>
      <div style="flex-grow: 3">
        <h2>In partnership</h2>
          <div class="homepage_body">
          <p>Our vibrant start-up environment is furnished with innovative tech solutions and plenty of collaborative spaces to inspire teamwork and creativity.</p>
          <p>We are in Newport's Information Station based on the recommendations of a task force set up by the Welsh Government.
          <p>Cardiff University's investment in the area will help to regenerate the economy of the City of Newport and provide a pipeline of skilled software engineers in Wales. </p>
          <a href="https://www.cardiff.ac.uk/software-academy">
          <img src="../static/assets/cardiff_logo.png" alt="Cardiff School of Computer Science" style="border:0;"></a>
          <br> <br>
          <p> The South Glamorgan CHC was established in April 2010 following the reorganisation of Community Health Councils in Wales - we represent the interests of the patients and public of Cardiff and the Vale of Glamorgan in relation to local
          health services.</p>
          <p> Health Councils (CHC) are the independent voice of people in Wales who use NHS services - we are made up of local volunteers who act as the eyes and ears of patients and the public.</p>
          <a href="http://www.wales.nhs.uk/sitesplus/897/home">
          <img src="../static/assets/cancer_logo.png" alt="South Glamorgan CHC" height="100px" style="border:0;"></a>


        </div>
    </div>
  </center>
</main>

{% endblock %}
