{% extends "chc_user_template.html" %}


{%block title %}
<title> {{username}}'s section </title>
{%endblock %}

{% block link %}
    <link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-graph.css') }}" />

{% endblock %}

{%block content%}

<!-- scripts parsed early on page load to  ensure data is ready for implementation at bottom of page. -->
<script>
  var table_data = {{ message_data|safe}}
</script>

<script>
  var linegraph_data = {{ lineg_data|safe }}
</script

<link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-main.css') }}" />

<div class="wrapper">
  <h1>Your Experience</h1>
  <h2>The data you have provided from your daily entries is collated into the graph below.  You can see how your experience during treatment has changed from the beginning using the trendline!</h2>

  <canvas id="line_graph" width="1600" height="900"></canvas>

</div>

<div class="wrapper">
  <h1>Your Interactions</h1>
  <h2>Your daily interactions provided from the daily entries has been provided to you in the graph below. You can see your interactions during treatment and if they may affect your experience!</h2>

  <canvas id="bar_chart" width="1600" height="900"></canvas>

</div>

<table id = "message_list">

   <thead>
      <th>Message Number</th>
      <th>Date of entry</th>
      <th>Your message</th>

      <!-- All user's messages are parsed into the table  -->
   </thead>
      {% for message in message_data %}
      <tr>
        <td>{{message[0]}}</td>
        <td>{{message[4]}}</td>
        <td>{{message[3]}}</td>


      </tr>
    {% endfor %}
  </table>
  <br>
  <br>
  <br>

<!-- Graph JavaScript called for iteration on page. Trendline plugin used for creating additional linegraph data  -->
<script src = "../static/js-user-graphs.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline@0.1.3/src/chartjs-plugin-trendline.min.js"></script>


{% endblock %}
