<!-- These references extend the skeleton of the homepage-->
{% extends "chc_user_template.html" %}
<!-- Style sheet reference -->
<link rel="stylesheet" type="text/css" href="../static/style-main.css" />
<!--Script Reference-->
<script type="text/javascript" src="../script/myscript.js"></script>

{%block title %}

<title> {{username}} - Contact </title>
<!-- <div class="sub_text"> <h2>Generic Questions Only</h2> </div> -->
{%endblock %}


{%block content%}
<br>
<!-- Movement of code to minimise scrolling -->
<div class="form_design">
<form method="post" name="myForm">
    Date:
    <input type="date" name="date"> <br>
    <br>
    <!--action and method from WH3Schools https://www.w3schools.com/js/js_validation.asp accessed 24/11/2019-->
    <textarea id="query_users" rows="5" cols="50" name="query" placeholder="Type your query here..." required></textarea>
    <!-- Field must be filled in, cannot be blank -->
    <br>
    <input type="submit" name='form_submission_user'>
</form>
<span id='txt'>{{msg}}</span>
<!-- To store the results of the form PHP needs to be used, haven't been taught yet -->
<!-- JavaScript can also be used https://www.encodedna.com/javascript/how-to-save-form-data-in-a-text-file-using-javascript.htm needs to be researched-->
<p> <b> We aim to respond to queries as soon as possible however during peak times responses may take longer to recieve.</b>
    <br><br> Thank You  </p>

</div>

{%endblock%}

<!-- Form code, need to figure out how to submit it, contains validation file  -->
<!-- <form onsubmit="return validate()" name="myForm">
<label for="name">First name:</label><br>
<input id="name" type="text" name="firstname">
</br>

<label>Last name:</label><br>
<input id="lname" type="text" name="lastname">
</br>

<label>Telephone number:</label><br>
<input id="number" type="text" name="telephonenumber">
</br>

<label for="comments">Comments:</label><br>
<textarea id="comments" rows="5" cols="50" name="text"> Type your query here</textarea>
</br>

<br>
<button id="sub_but" type="submit">Submit</button>
</br> -->

<!-- Uneeded code -->
<!--
<form action="/action_page.php" onsubmit="test()"name="myForm"></form>
    <label for="name">First name:</label><br>
    <input id="name" type="text" name="firstname">
    </br>
    <label>Last name:</label><br>
    <input id="lname" type="text" name="lastname">
    </br>
    <label for="Query" onclick="test()">Query:</label><br>
    <textarea id="query" rows="5" cols="50" name="text" placeholder = "Type your query here..."></textarea>
    </br>
    <br>
    <input type="submit" value="Submit">
    <!-- <button id="sub_but" type="submit" >Submit</button> -->
    <!-- </br> -->
<!-- </form> -->
