{% extends "chc_user_template.html" %}

<link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-main.css') }}" />
<link rel="stylesheet" href="static/style-main.css"
{%block title %}


<title> Cancer Patient Pathways - Diary </title>
{%endblock %}

{%block content%}
<div class="form_design">

<form method="post" name="myForm" onsubmit="return datatransfer()">
<!--action and method from WH3Schools https://www.w3schools.com/js/js_validation.asp accessed 24/11/2019-->

Date : <input type="Date" name="completion date" required>
<br> <br>

<label>Diary Entry:</label><br>
<textarea id="diaryentry" rows="5" cols="50" name="query" placeholder="Type your Diary entry here..." required></textarea>
<br>

<button class = "survey_button" name="diary_submit" type="submit"> Submit </button>
<h4> <i> This is strictly confidential, whatever you write here is for your eyes only :) <br>
Express yourself in whatever way you see fit :) </i> </h4>
</form>

{%endblock%}
