<!-- These references extend the skeleton of the homepage-->
{% extends "chc_template.html" %}
<!-- Style sheet reference -->
<link rel="stylesheet" type="text/css" href="../static/style-main.css" />
<!--Script Reference-->
<script type="text/javascript" src="../script/myscript.js"></script>

{%block title %}

<title> Cancer Patient Pathways - Contact </title>
<!-- <div class="sub_text"> <h2>Generic Questions Only</h2> </div> -->

{%endblock %}


{% block content  %}
<center>
<h4>What is Cancer Patient Pathways?</h4>
<p>We represent the interests of the patients and public of Cardiff and the Vale of Glamorgan in relation to local
health services. <br> We take your feedback on the cancer process at the NHS and improve the service for you and others.</p>
<h4>How do I access my account?</h4>
<p>At the top of the page is a login form where you can enter your details and access your account.</p>
<h4>What is the purpose of this website?</h4>
<p>The Cancer Patient Pathways project is design to improve the NHS cancer treatment process.</p>
<h4>How can I contact Cancer Patient Pathways?</h4>
<p>For none logged in users you can leave a comment <a href="/contact_us">here!</a> If you login you can leave more personal comments</p>
<h4>I've forgotten my login details.</h4>
<P>Please contact support through the number below!</P>
<h4>I have a different question.</h4>
<P>Please feel free to contact us using the form <a href="/contact_us">here!</a></P>
</center>
<!-- <button type="button" class="collapsible-faq">What is Cancer Patient Pathways?</button>
<div class="content-faq">
    <p>Test content</p>
</div> -->

<!-- <button type="button" class="collapsible-faq">How do I access my account?</button>
<div class="content-faq">
    <p>Test content</p>
</div>

<button type="button" class="collapsible-faq">How do I login?</button>
<div class="content-faq">
    <p>Test content</p>
</div>

<button type="button" class="collapsible-faq">How can I contact Cancer Patient Pathways?</button>
<div class="content-faq">
    <p>Test content</p>
</div>

<button type="button" class="collapsible-faq">I've forgotten my login details</button>
<div class="content-faq">
    <p>Test content</p>
</div>

<button type="button" class="collapsible-faq">I have a different question</button>
<div class="content-faq">
    <p>Test content</p>
</div> -->

{% endblock %}

